{{define "main"}}

<!-- checking blog -->
{{ if or (eq .Section "final-project") (eq .Section "assignments") (eq .Section "categories") (eq .Section "tags") }}

<!--<section class="section-sm">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          {{range .Data.Pages}}
          <div class="col-lg-6">
            {{.Render "post"}}
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="section-sm">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          {{ $paginator := .Paginate (.Data.Pages) }}
          {{range $index, $items := $paginator.Pages}}
          <!--<div class="{{ if (eq $index 0) }}col-lg-12{{ else }}col-lg-6{{ end }}">-->
          <div class="col-lg-6">
            {{.Render "post"}}
          </div>
          {{end}}
        </div>

        <div class="row">
          <div class="col-12">
            <nav class="mt-4">
              {{" " | safeHTML }}
              {{ $paginator := .Paginator }}
              <!-- Number of links either side of the current page. -->
              {{ $adjacent_links := 2 }}
              <!-- $max_links = ($adjacent_links * 2) + 1 -->
              {{ $max_links := (add (mul $adjacent_links 2) 1) }}
              <!-- $lower_limit = $adjacent_links + 1 -->
              {{ $lower_limit := (add $adjacent_links 1) }}
              <!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
              {{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}
              <!-- If there's more than one page. -->
              {{ if gt $paginator.TotalPages 1 }}
              <nav class="mb-md-50">
                <ul class="pagination justify-content-center">
                  <!-- Previous page. -->
                  {{ if $paginator.HasPrev }}
                  <li class="page-item"><a class="page-link rounded" href="{{ $paginator.Prev.URL }}"
                      aria-label="Pagination Arrow">
                      <i class="las la-angle-left"></i>
                    </a></li>
                  {{ end }}
                  <!-- Page numbers. -->
                  {{ range $paginator.Pagers }}
                  {{ $.Scratch.Set "page_number_flag" false }}
                  <!-- Advanced page numbers. -->
                  {{ if gt $paginator.TotalPages $max_links }}
                  <!-- Lower limit pages. -->
                  <!-- If the user is on a page which is in the lower limit.  -->
                  {{ if le $paginator.PageNumber $lower_limit }}
                  <!-- If the current loop page is less than max_links. -->
                  {{ if le .PageNumber $max_links }}
                  {{ $.Scratch.Set "page_number_flag" true }}
                  {{ end }}
                  <!-- Upper limit pages. -->
                  <!-- If the user is on a page which is in the upper limit. -->
                  {{ else if ge $paginator.PageNumber $upper_limit }}
                  <!-- If the current loop page is greater than total pages minus $max_links -->
                  {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
                  {{ $.Scratch.Set "page_number_flag" true }}
                  {{ end }}
                  <!-- Middle pages. -->
                  {{ else }}
                  {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add
                  $paginator.PageNumber $adjacent_links) ) }}
                  {{ $.Scratch.Set "page_number_flag" true }}
                  {{ end }}
                  {{ end }}
                  <!-- Simple page numbers. -->
                  {{ else }}
                  {{ $.Scratch.Set "page_number_flag" true }}
                  {{ end }}
                  <!-- Output page numbers. -->
                  {{ if eq ($.Scratch.Get "page_number_flag") true }}
                  <li class="page-item{{ if eq . $paginator }} active {{ end }}">
                    <a href="{{ .URL }}" class="page-link rounded">
                      {{ .PageNumber }}
                    </a>
                  </li>
                  {{ end }}
                  {{ end }}
                  <!-- Next page. -->
                  {{ if $paginator.HasNext }}
                  <li class="page-item"><a class="page-link rounded" href="{{ $paginator.Next.URL }}"
                      aria-label="Pagination Arrow">
                      <i class="las la-angle-right"></i>
                    </a></li>
                  {{ end }}
                </ul>
              </nav>
              {{ end }}
            </nav>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{{ else }}

{{ partial "page-header.html" . }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ end }}