<article class="card post-card">
  {{if .Params.image}}
  <a href="{{.Permalink}}">
    {{ partial "image.html" (dict "Src" .Params.image "Folder" .Params.foldername "Class" "w-100 h-auto rounded" "Alt"
    .Title) }}
  </a>
  {{end}}
  <div class="card-body">
    <ul class="card-meta list-inline" style="text-align: center;">
      <li class="list-inline-item mb-2">
        {{ with site.GetPage (.Params.Author | urlize | lower) }}
        <a href="{{.Permalink}}" class="card-meta-author">
          {{if .Params.image}}
          {{ partial "image.html" (dict "Src" .Params.image "Folder" .Params.foldername "Size" "26x26" "Class" "w-auto"
          "Alt" .Title) }}
          {{else}}
          <img loading="lazy" src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=150&pg&d=identicon">
          {{end}}
          <span>{{ .Title }}</span>
        </a>
        {{ end }}
      </li>
      <li class="list-inline-item">
        <span>{{.PublishDate.Format "02 Jan, 2006"}}</span>
      </li>
      <li class="list-inline-item">
        <ul class="card-meta-tag list-inline">
          {{range .Params.tags}}
          <li class="list-inline-item"><a href="{{site.BaseURL}}tags/{{.| urlize}}">{{.}}</a></li>
          {{end}}
        </ul>
      </li>
    </ul>
    <h3 class="mb-2" style="text-align: center;">
      <a class="post-title" href="{{.Permalink}}">{{.Title}}</a>
    </h3>
   <!-- <p>{{ .Plain | truncate 150 }}</p> -->

    <!-- <a href="{{.Permalink}}" aria-label="More on {{.Title}}">Read More <i class="las la-angle-right"></i></a> -->
  </div>
</article>