<div class="header-height-fix"></div>
<header class="header-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <a class="navbar-brand font-weight-bold mr-0" href="{{site.BaseURL}}">
            {{ partial "logo.html" . }}
            {{ site.Title }}
          </a>

          {{if site.Params.search}}
          <button class="search-toggle d-inline-block d-lg-none ml-auto mr-3" data-toggle="search"
            aria-label="Search Toggle">
            <i class="las la-search"></i>
          </button>
          {{end}}

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHeader"
            aria-controls="navHeader" aria-expanded="false" aria-label="Toggle navigation">
            <i class="d-inline lab la-buromobelexperte"></i>
            <i class="d-none las la-times"></i>
          </button>

          <div class="collapse navbar-collapse" id="navHeader">
            <ul class="navbar-nav {{ if site.Params.search }}mx-auto{{else}}ml-auto{{end}}">

              {{ $current := . }}
              {{ range site.Menus.main }}
              {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
              {{ $active = or $active (eq .Name $current.Title) }}
              {{if .HasChildren}}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-inline-block {{ if $active }}active{{ end }}" href="#"
                  role="button" data-toggle="dropdown" aria-expanded="false">{{.Name}}</a>
                <ul class="dropdown-menu">
                  {{range .Children}}
                  <li><a class="dropdown-item {{ if $active }}active{{ end }}" href="{{.URL | absURL}}">{{.Name}}</a>
                  </li>
                  {{end}}
                </ul>
              </li>
              {{else}}
              <li class="nav-item {{ if $active }}active{{ end }}">
                <a class="nav-link" href="{{.URL | absURL}}">{{.Name}}</a>
              </li>
              {{end}}
              {{end}}
            </ul>

            {{if site.Params.search}}
            <div class="navbar-right d-none d-lg-inline-block">
              <ul class="social-links list-unstyled list-inline">
                <li class="list-inline-item ml-4 d-none d-lg-inline-block">
                  <button class="search-toggle" data-toggle="search" aria-label="Search Toggle">
                    <i class="las la-search"></i>
                  </button>
                </li>
              </ul>
            </div>
            {{end}}
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

{{if site.Params.search}}
<div class="search-block">
  <div data-toggle="search-close">
    <i class="las la-times text-primary"></i>
  </div>
  <form action="{{ `search`| relURL }}">
    <input id="search-query" name="s" type="search" placeholder="Type words &amp; hit enter" class="text-center"
      aria-label="search-query">
  </form>
</div>
{{end}}