{{ $logoPath:= site.Params.logo }}
{{ $logoDarkPath:= site.Params.logo_dark }}
{{ $logoWidth:= replace site.Params.logo_width "px" "x" }}
{{ $logoDefaultWidth:= "" }}
{{ $logoDefaultHeight:= "" }}

<!-- checking logo path -->
{{ if $logoPath }}

<!-- checking logo existance -->
{{ if fileExists (add `assets/` $logoPath) }}
{{ $logo:= resources.Get $logoPath }}

<!-- logo extention -->
{{ $logoExt := path.Ext $logo }}

<!-- logo height, width (if not svg) -->
{{ if ne $logoExt `.svg` }}
{{ $logoDefaultWidth = $logo.Width }}
{{ $logoDefaultHeight = $logo.Height }}
{{ end }}

<!-- checking gif/svg -->
{{ if or (eq $logoExt ".gif") (eq $logoExt ".svg") }}
{{ .Scratch.Set "logo" $logo.RelPermalink }}
<!-- logo processing to webp -->
{{ else }}
{{ $logoDefaultWidth:= add (string $logoDefaultWidth) "x"}}
{{ $logoWidth:= $logoWidth | default $logoDefaultWidth }}
{{ $options := add (string $logoWidth) " webp" }}
{{ .Scratch.Set "logo" ($logo.Resize $options).RelPermalink }}
<!-- logo fallback -->
{{ .Scratch.Set "logo_fallback" ($logo.Resize $logoWidth).RelPermalink }}
{{ end }}
<!-- /checking gif/svg -->

{{ else }}
{{ warnf "%q not found" $logoPath }}
{{ $logoPath = false }}
{{ end }}
<!-- / checking logo existance -->
{{ end }}
<!-- / checking logo path -->


<!-- ########### Dark logo code ################ -->
{{ if $logoDarkPath }}

<!-- checking logo existance -->
{{ if fileExists (add `assets/` $logoDarkPath) }}
{{ $logoDark:= resources.Get $logoDarkPath }}

<!-- logo extention -->
{{ $logoDarkExt := path.Ext $logoDark }}

<!-- checking gif/svg -->
{{ if or (eq $logoDarkExt ".gif") (eq $logoDarkExt ".svg") }}
{{ .Scratch.Set "logo_dark" $logoDark.RelPermalink }}
<!-- logo processing to webp -->
{{ else }}
{{ $logoDefaultWidth:= add (string $logoDefaultWidth) "x"}}
{{ $logoDarkWidth:= $logoWidth | default $logoDefaultWidth }}
{{ $options := add (string $logoDarkWidth) " webp" }}
{{ .Scratch.Set "logo_dark" ($logoDark.Resize $options).RelPermalink }}
<!-- logo fallback -->
{{ .Scratch.Set "logo_dark_fallback" ($logoDark.Resize $logoDarkWidth).RelPermalink }}
{{ end }}
<!-- /checking gif/svg -->

{{ else }}
{{ warnf "%q not found" $logoDarkPath }}
{{ $logoDarkPath = false }}
{{ end }}
<!-- / checking logo existance -->
{{ end }}
<!-- / checking logo path -->

<!-- ########### /Dark logo code ################ -->



{{ if $logoDarkPath }}
<img loading="prelaod" decoding="async" class="img-fluid only-light"
    width="{{replace $logoWidth `x` `` | default $logoDefaultWidth}}" height="{{$logoDefaultHeight}}"
    src="{{.Scratch.Get `logo`}}" alt="{{ site.Title }}"
    onerror="this.onerror=null;this.src='{{.Scratch.Get `logo_fallback`}}'">

<img loading="prelaod" decoding="async" class="img-fluid only-dark"
    width="{{replace $logoWidth `x` `` | default $logoDefaultWidth}}" height="{{$logoDefaultHeight}}"
    src="{{.Scratch.Get `logo_dark`}}" alt="{{ site.Title }}"
    onerror="this.onerror=null;this.src='{{.Scratch.Get `logo_dark_fallback`}}'">

{{ else if $logoPath }}

<img loading="prelaod" decoding="async" class="img-fluid"
    width="{{replace $logoWidth `x` `` | default $logoDefaultWidth}}" height="{{$logoDefaultHeight}}"
    src="{{.Scratch.Get `logo`}}" alt="{{ site.Title }}"
    onerror="this.onerror=null;this.src='{{.Scratch.Get `logo_fallback`}}'">

<!-- logo text -->
{{ else if site.Params.logo_text }}
{{ site.Params.logo_text | markdownify }}
<!-- logo title -->
{{ else }}
<strong class="text-danger">`{{$logoPath}}` doesn't exist</strong>
{{ end }}
<!-- / checking logo path -->