{{define "main"}}

<section class="section">
  <div class="container">
    <div
      style="width:100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: white;">
      <img src={{ "img/cat.gif" | absURL }} alt="cat" width="" width-mi
        class="shadow-sm p-3 mb-5 bg-white rounded-pill border" style="margin-top:20px; margin-bottom: 20px;">
      <h3>New Media / Interaction Installation / Cats</h3>
    </div>
  </div>
</section>

{{ with site.Params.instafeed }}
{{ if .enable }}
<section class="mb-5 pb-4">
  <div class="container">
  </div>
</section>
{{ end }}
{{ end }}

{{end}}