<aside class="tip">
    💡{{.Inner}}
</aside>

<style>
    .tip {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(231, 230, 230);
        box-sizing: border-box;
        border: 1px dotted black;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 2rem;
        border-radius: 20px;
        line-height: 2rem;
    }
</style>