{{ if or (eq (index .Params 1) "widescreen") (not (index .Params 1) ) }}
{{ $.Scratch.Add "ratio" (mul 56.25 (int (index .Params 2)) 100.0)}}
{{ else if eq (index .Params 1) "standard" }}
{{ $.Scratch.Add "ratio" (mul 75 (int (index .Params 2)) 100.0)}}
{{ else }}
{{ $nums := split (index .Params 1) ":" }}
{{ $.Scratch.Add "ratio" (mul (div (mul (int (index $nums 1)) 100.0) (int (index $nums 0))) (div (int (index .Params 2))
100.0))
}}
{{ end }}

<div class="youtube-div">
    <div class="youtube-wrap"
        style="position: relative; padding-bottom: {{ $.Scratch.Get `ratio` }}%; overflow: hidden; width: {{ .Get 2 }}%;">
        <iframe class="youtube-video" src="https://www.youtube.com/embed/{{ index .Params 0 }}" allowfullscreen
            frameborder="0">
        </iframe>
    </div>
    <a href="{{ .Get 4}}">{{ .Get 3}}</a>
</div>

<style>
    .youtube-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .youtube-video {
        position: absolute;
        width: 100%;
        height: 100%;
    }
</style>